:root {
  --green-color: #02c980;
  --danger: #fc5a72;
  --dark-green: #222457;
  --table-grey: #ddd;
  --white: #fff;
  --blue: #0c4bcc; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  background-color: #f5f6f8;
  font-family: 'Nunito', sans-serif;
  line-height: 1.7; }

.header {
  background-color: var(--white);
  text-align: center;
  padding: 1.5rem 0rem;
  position: -webkit-sticky;
  position: sticky;
  top: .02rem; }

.header-main {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--dark-color); }

.main {
  margin: 2rem 8rem;
  margin-bottom: 1.5rem; }

.fa-trash-alt {
  color: var(--danger);
  cursor: pointer; }

.btn--container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }

.add-btn {
  padding: 1rem 3rem;
  background-color: var(--green-color);
  border: none;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
  border-radius: .7rem;
  transition: all .15s; }
  .add-btn:hover {
    background-color: #005938; }

.table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 1.5rem;
  margin: .7rem auto;
  border: 2px solid #fff;
  font-size: 1.7rem;
  overflow: auto; }
  .table .caption {
    background-color: var(--green-color);
    padding-top: 1.5rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 600; }
  .table td, .table th {
    text-align: left;
    padding: 1.4rem; }
  .table th {
    color: #fff;
    background-color: var(--dark-green); }
  .table tr:nth-child(even) {
    background-color: #fff; }
  .table tr {
    margin-top: 1.5rem; }

.modal {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4); }
  .modal--btn {
    padding: .7rem 1.8rem;
    width: 60%;
    background-color: var(--green-color);
    border: none;
    color: #fff;
    font-size: 1.7rem;
    transition: all .15s;
    cursor: pointer;
    border-radius: .7rem; }
    .modal--btn:hover {
      background-color: #005938; }
  .modal--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%; }

.modal__content {
  width: 50%;
  height: 60%;
  background-color: var(--dark-green);
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 1rem;
  transform: translate(-50%, -50%);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  animation: fadeInTop .3s ease-out alternate; }

.form--header {
  font-size: 2rem;
  margin-bottom: .5rem;
  color: #fff; }

.close {
  color: #aaaaaa;
  position: absolute;
  top: 2rem;
  right: 2.5rem;
  font-size: 28px;
  font-weight: bold;
  transition: all .2s; }

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer; }

.surname, .fname,
.club, .age, .level {
  width: 60%;
  padding: .475rem .75rem;
  margin-bottom: 1.5rem;
  border-radius: .3rem;
  color: #495057;
  line-height: 1.7;
  border: 1px solid #ced4da; }
  .surname:focus, .fname:focus,
  .club:focus, .age:focus, .level:focus {
    outline: none;
    border-color: tomato;
    outline: 0;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 145, 71, 0.9);
    box-shadow: 0 0 0 0.2rem rgba(255, 145, 71, 0.9); }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
.user--input {
  -moz-appearance: textfield; }

@keyframes fadeInTop {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%); }
  50% {
    opacity: .4; }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%); } }
