:root {
    --green-color: #02c980;
    --danger: #fc5a72;
    --dark-green: #222457;
    --table-grey: #ddd;
    --white: #fff;
    --blue: #0c4bcc;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    background-color: #f5f6f8;
    font-family: 'Nunito', sans-serif;
    line-height: 1.7;
}