.modal {
    display: none;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);

    &--btn {
        padding: .7rem 1.8rem;
        width: 60%;
        background-color: var(--green-color);
        border: none;
        color: #fff;
        font-size: 1.7rem;
        transition: all .15s;
        cursor: pointer;
        border-radius: .7rem;

        &:hover {
            background-color: #005938;
        }
    }

    &--form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3rem;
        width: 100%;
    }
}

.modal__content {
    width: 50%;
    height: 60%;
    background-color: var(--dark-green);
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 1rem;
    transform: translate(-50%, -50%);
    box-shadow: 0 2rem 4rem rgba(0,0,0, .2);
    animation: fadeInTop .3s ease-out alternate;
} 

.form--header {
    font-size: 2rem;
    margin-bottom: .5rem;
    color: #fff;
}

.close {
    color: #aaaaaa;
    position: absolute;
    top: 2rem;
    right: 2.5rem;
    font-size: 28px;
    font-weight: bold;
    transition: all .2s;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.surname, .fname,
.club, .age, .level {
    width: 60%;
    padding: .375rem .75rem;
    margin-bottom: 1.5rem;
    border-radius: .3rem;
    color: #495057;
    line-height: 1.7;
    border: 1px solid #ced4da;

    &:focus {
        outline: none;
    }
    
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.user--input {
  -moz-appearance: textfield;
}
